html {
  font-family: 'Telex', sans-serif;
}

body {
  overflow: hidden;
}

.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  transition: all 2s ease-in-out;
}

.panel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#hello-button:checked ~ main {
  transform: translateY(0%);
}

#skills-button:checked ~ main {
  transform: translateY(-200%);
}

#tools-button:checked ~ main {
  transform: translateY(-300%);
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
}

h2 {
  font-family: 'Source Code Pro', monospace;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul img {
  width: 60px;
}
