html {
  font-family: 'Telex', sans-serif;
}

body {
  overflow: hidden;
}

nav {
  position: fixed;
  right: 20px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 10px;
  left: 0;
}

.panel {
  height: 100vh;
  width: 90vw;
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul img {
  width: 60px;
}

#hello {
  background-color: yellow;
}

#skills {
  background-color: purple;
}

#tools {
  background-color: cyan;
}

#projects {
  background-color: orange;
}

#contact {
  background-color: green;
}
