html {
  font-family: 'Telex', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 60px;
}

header,
footer {
  background-color: #637373;
  color: white;
  text-align: right;
}

.main {
  display: grid;
  grid-template-columns: 3fr auto;
  overflow: hidden;
  width: 100vw;
  box-sizing: border-box;
  background-color: #ffeadb;
}

nav {
  position: sticky;
  height: calc(100vh - 90px);
  top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.panel {
  align-items: center;
  height: calc(100vh - 90px);
}

blockquote {
  margin-left: 0;
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
  font-size: 6em;
}

h1 span {
  color: #654062;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}

.horizontal-list {
  margin: auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.25em 2em;
  list-style: none;
  justify-items: center;
  justify-content: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.vertical {
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

nav {
  background-color: #ffeadb;
}

nav ul {
  padding: 0 10px;
  margin: 0;
}

nav li {
  padding-right: 1.25rem;
  opacity: 40%;
}

.active {
  color: green;
  border-right: 3px solid black;
  opacity: 100%;
}

ul img {
  width: 60px;
}

#hello {
  display: flex;
  justify-content: flex-start;
}

#greeting {
  min-width: 40%;
}

#profile {
  text-align: center;
}

#profile img {
  max-width: 600px;
}

footer img {
  max-width: 30%;
}
